
@font-face {font-family: "iconfont";
  src: url('../fonts/iconfont.eot?t=1488435533032'); /* IE9*/
  src: url('../fonts/iconfont.eot?t=1488435533032#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../fonts/iconfont.woff?t=1488435533032') format('woff'), /* chrome, firefox */
  url('../fonts/iconfont.ttf?t=1488435533032') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../fonts/iconfont.svg?t=1488435533032#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-watch:before { content: "\e7ff"; }

.icon-watch1:before { content: "\e71b"; }

.icon-ipad:before { content: "\e656"; }

.icon-peijian:before { content: "\e6a2"; }

.icon-watch2:before { content: "\e653"; }

.icon-ipad1:before { content: "\f0022"; }

.icon-laptopmac:before { content: "\e788"; }

.icon-watch3:before { content: "\e916"; }

.icon-siglyphwatch:before { content: "\e648"; }

.icon-iphone:before { content: "\e601"; }

.icon-version:before { content: "\e60b"; }

.icon-youjiantou:before { content: "\e67e"; }

.icon-ipad2:before { content: "\e800"; }

.icon-ipad3:before { content: "\e81b"; }

.icon-imac:before { content: "\e626"; }

.icon-watch4:before { content: "\e62e"; }

.icon-iphone1:before { content: "\e60d"; }

.icon-ipad4:before { content: "\e617"; }

.icon-peijian2:before { content: "\e6a3"; }

.icon-ipad5:before { content: "\e607"; }

.icon-watch5:before { content: "\e674"; }

.icon-music-copy:before { content: "\e602"; }

.icon-macbook:before { content: "\e672"; }

.icon-downloadipad:before { content: "\e633"; }

.icon-macbook1:before { content: "\e660"; }

.icon-mooncomputer:before { content: "\e608"; }

.icon-unif047:before { content: "\e63d"; }

.icon-gouwudai:before { content: "\e60e"; }

.icon-macminimize:before { content: "\e66d"; }

.icon-iphone-copy:before { content: "\e603"; }

.icon-icon:before { content: "\e609"; }

.icon-Watch:before { content: "\e614"; }

.icon-sousuo:before { content: "\e70b"; }

.icon-hk9acbkluq:before { content: "\e613"; }

.icon-music:before { content: "\e618"; }

.icon-zuojiantou:before { content: "\e604"; }

.icon-music1:before { content: "\e620"; }

.icon-watch6:before { content: "\e647"; }

.icon-macbook2:before { content: "\e66b"; }

.icon-ios:before { content: "\e66c"; }

